.blue{
    background-color: darkcyan;
    height: 25vh;
   
}
.coral{
    background-color: rgb(187, 163, 66);
    height: 25vh;
}
.peach{
    background-color: rgb(248, 144, 16);
    height: 25vh;
} 
.crymsom {
    background-color: crimson;
    height: 25vh;
}
.container {
    border: 8px solid whitesmoke;
    
}



